<ion-view title="Dashboard">
  <ion-content class="padding">

      <div id="personal-card" class="card">
        <div class="list">
          <a class="item item-avatar" href="">
            <img class="item-avatar-square" src="img/ic-invoice.svg">
            <div style="display:inline;"><p>Receipt Books</p></div>
            <button style="position:absolute;right:5%;top:10%;max-height:40px;float:right;display:inline;color:#019789;" class="button button-clear button-positive">
              <span style="font-weight:500;font-family: 'Roboto', sans-serif;">VIEW DETAILS</span>
            </button>
          </a>
          <a class="item item-avatar">
            <img class="item-avatar-square" src="img/ic-farm.svg">
            <div style="display:inline;"><p>Farms</p></div>
            <button style="position:absolute;right:5%;top:10%;max-height:40px;float:right;display:inline;color:#019789;" class="button button-clear button-positive">
              <span style="font-weight:500;font-family: 'Roboto', sans-serif;">VIEW DETAILS</span>
            </button>
          </a>
          <a class="item item-avatar">
            <img class="item-avatar-square" src="img/ic-livestock.svg">
            <div style="display:inline;"><p>Livestock</p></div>
            <button style="position:absolute;right:5%;top:10%;max-height:40px;float:right;display:inline;color:#019789;" class="button button-clear button-positive">
              <span style="font-weight:500;font-family: 'Roboto', sans-serif;">VIEW DETAILS</span>
            </button>
          </a>
          <a class="item item-avatar">

            <img class="item-avatar-square" src="img/ic-plant-with-leaves.svg">
            <div style="display:inline;"><p>Crops</p></div>
            <button style="position:absolute;right:5%;top:10%;max-height:40px;float:right;display:inline;color:#019789;" class="button button-clear button-positive">
              <span style="font-weight:500;font-family: 'Roboto', sans-serif;">VIEW DETAILS</span>
            </button>
        </a>

        </div>
        <!--<div class="item item-text-wrap">
          <b>Agricultural Info</b><br>
          <p>Farmer Type : {{results[farmerIndex].Farmer_Type}}</p>
          <p>Alias : {{results[farmerIndex].Farmer_Personal_Info.Alias}}</p>
          <p>Sex : {{results[farmerIndex].Farmer_Personal_Info.Gender}}</p>
          <p>D.O.B. : {{results[farmerIndex].Farmer_Personal_Info.DOB}}</p>
          <p>TRN : </p>
          <p>Residential Address : {{results[farmerIndex].Farmer_Personal_Info.Res_Street_Address}}</p>
        </div>-->
      </div>

  </ion-content>
</ion-view>
