<ion-header-bar ng-show="showTopBar" style="background-color:#019789" class="bar-stable">
  <h1 style="color:white;" class="title" style="font-family: 'Roboto', sans-serif;">Farmer Profile</h1>
</ion-header-bar>
<ion-view style="background-color: #019789;">

  <ion-tabs style="background-color: #019789;border-color: #019789;">

    <ion-tab title="PERSONAL INFO" href="#/farmerProfile/personal">
      <ion-nav-view name="farmerProfile-personal"></ion-nav-view>
    </ion-tab>

    <ion-tab title="AGRICULTURAL INFO" href="#/farmerProfile/agricultural">
      <ion-nav-view name="farmerProfile-agricultural"></ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
