<ion-view title="Dashboard">
  <ion-content class="padding">
    <div class="list margin-top">

      <div class="card item padding-top padding-bottom">
        <img style="float:left;display:inline;max-width:100px;" ng-if="results[farmerIndex].Farmer_Personal_Info.Photo_Found_YN == '1'" src="http://abisjamaica.com.jm/demo/Common/FarmerPhotos/{{results[farmerIndex].Farmer_Personal_Info.Photo_Path}}">
        <img style="float:left;display:inline;max-width:100px;" ng-if="results[farmerIndex].Farmer_Personal_Info.Photo_Found_YN != '1'" src="http://abisjamaica.com.jm/Common/FarmerPhotos/no_photo.gif">
        <div class="" style="position:relative;left:5px;">
          <p style="text-align:left;"><span style="text-align:center;font-weight:bold;">{{results[farmerIndex].Farmer_Personal_Info.First_Name}}</span>
          <span style="text-align:left;font-weight:bold;">{{results[farmerIndex].Farmer_Personal_Info.Last_Name}}</span></p>
        <sub style="text-align:left;">Farmer Registration ID</sub><br>
        <p style="text-align:left;font-weight: 500;">{{results[farmerIndex].IDX_Stakeholder}}</p>
        <sub style="text-align:left;">Last Updated : {{parseDate(results[farmerIndex].Update_Date)}}</sub>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <b>Personal Information</b><br><br>
          <p>Farmer Type : {{results[farmerIndex].Farmer_Type}}<br></p>
          <p>Alias : {{results[farmerIndex].Farmer_Personal_Info.Alias !== '' ? results[farmerIndex].Farmer_Personal_Info.Alias : "None Provided"}}<br></p>
          <p>Sex : {{results[farmerIndex].Farmer_Personal_Info.Gender}}<br></p>
          <p>D.O.B. : {{parseDate(results[farmerIndex].Farmer_Personal_Info.DOB)}}<br></p>
          <p>TRN : None Provided<br></p>
          <p>Residential Address : {{results[farmerIndex].Farmer_Personal_Info.Res_Street_Address}}<br></p>
        </div>
      </div>

      <!--<div class="col">
        <img class="" style="margin-left:auto;margin-right:auto;display:block;" ng-if="results[farmerIndex].Farmer_Personal_Info.Photo_Found_YN == '1'" src="http://abisjamaica.com.jm/demo/Common/FarmerPhotos/{{results[farmerIndex].Farmer_Personal_Info.Photo_Path}}">
        <img class="" style="margin-left:auto;margin-right:auto;display:block;" ng-if="results[farmerIndex].Farmer_Personal_Info.Photo_Found_YN != '1'" src="http://abisjamaica.com.jm/Common/FarmerPhotos/no_photo.gif">
        <br><p style="color:white;text-align:center;"><span style="color:white;text-align:center;font-weight:bold;" ng-bind="results[farmerIndex].Farmer_Personal_Info.First_Name"></span>&nbsp;
        <span style="color:white;text-align:center;font-weight:bold;" ng-bind="results[farmerIndex].Farmer_Personal_Info.Last_Name"></span></p>
        <p style="color:white;text-align:center;">Farmer Registration ID</p>
        <p style="color:white;text-align:center;">{{results[farmerIndex].IDX_Stakeholder}}</p>
        <p style="color:white;text-align:center;">Last Updated : {{results[farmerIndex].Update_Date}}</p>
      </div>-->

    </div>

  </ion-content>
</ion-view>
