<ion-view title="Dashboard">
  <ion-content class="padding">
    <div class="list margin-top">

      <div class="card item padding-top padding-bottom">
        <img style="float:left;display:inline;max-width:100px;" ng-if="results[farmerIndex].Farmer_Personal_Info.Photo_Found_YN == '1'" src="http://abisjamaica.com.jm/demo/Common/FarmerPhotos/{{results[farmerIndex].Farmer_Personal_Info.Photo_Path}}">
        <img style="float:left;display:inline;max-width:100px;" ng-if="results[farmerIndex].Farmer_Personal_Info.Photo_Found_YN != '1'" src="http://abisjamaica.com.jm/Common/FarmerPhotos/no_photo.gif">
        <div class="" style="position:relative;left:5px;">
          <p style="text-align:left;"><span style="text-align:center;font-weight:bold;">{{results[farmerIndex].Farmer_Personal_Info.First_Name}}</span>
          <span style="text-align:left;font-weight:bold;">{{results[farmerIndex].Farmer_Personal_Info.Last_Name}}</span></p>
          <p style="display : flex;align-items : center;"><img style="display:inline;font-size:18px;" src="img/ic_check_circle_black_18px.svg"/>&nbsp;Verified Farmer</p>
        <sub style="text-align:left;">Farmer Registration ID</sub><br>
        <p style="text-align:left;font-weight: 500;">{{results[farmerIndex].Farmer_Personal_Info.Stakeholder_Num}}</p>
        <sub style="text-align:left;">Last Updated : {{parseDate(results[farmerIndex].Update_Date)}}</sub>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <b>Personal Information</b><br><br>

          <p ng-click="showFarmerNumbers()" ng-if="results[farmerIndex].Farmer_Personal_Info.Res_Tele_Num != '' && results[farmerIndex].Farmer_Personal_Info.Res_Tele_Num != undefined" style="border-style:solid;border-width:1px;border-color:#DCDEE2;border-radius:4px;margin-bottom:5px;" class="margin-bottom padding-right padding-left padding-top padding-bottom">
            Call {{results[farmerIndex].Farmer_Personal_Info.First_Name}} {{results[farmerIndex].Farmer_Personal_Info.Last_Name}}<span style="float:right;font-size: 24px;"><a ng-href="#" ng-click="showFarmerNumbers()"><img style="height:18px;width:18px;opacity:0.6;" src="img/ic_call_black_24px.svg"/></a></span>
          </p>
          <p ng-if="(results[farmerIndex].Farmer_Personal_Info.Res_Tele_Num == '' || results[farmerIndex].Farmer_Personal_Info.Res_Tele_Num == undefined) && (results[farmerIndex].Farmer_Personal_Info.Bus_Tele_Num == '' || results[farmerIndex].Farmer_Personal_Info.Bus_Tele_Num == undefined) && (results[farmerIndex].Farmer_Personal_Info.Cell_Num == '' || results[farmerIndex].Farmer_Personal_Info.Cell_Num == undefined)" style="border-style:solid;border-width:1px;border-color:#DCDEE2;border-radius:4px;margin-bottom:5px;" class="margin-bottom padding-right padding-left padding-top padding-bottom">
            No phone numbers available!
          </p>

          <p style="margin-top:15px;text-align: right;"><span style="float:left;">Farmer Type : </span><span class="">{{results[farmerIndex].Farmer_Type}}</span><br></p>
          <p>Alias : <span class="right-align">{{results[farmerIndex].Farmer_Personal_Info.Alias !== '' ? results[farmerIndex].Farmer_Personal_Info.Alias : "None Provided"}}</span><br></p>
          <p>Sex : <span class="right-align">{{results[farmerIndex].Farmer_Personal_Info.Gender}}</span><br></p>
          <p>D.O.B. : <span class="right-align">{{parseDate(results[farmerIndex].Farmer_Personal_Info.DOB)}}</span><br></p>
          <p>TRN : <span class="right-align">None Provided</span><br></p>
          <p>Residential Address : <span class="right-align">{{results[farmerIndex].Farmer_Personal_Info.Res_Street_Address}}</span><br></p>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
