<ion-view>
  <ion-header-bar style="background-color:#019789" class="bar-stable">
    <h1 style="color:white;" class="title" style="font-family: 'Roboto', sans-serif;">Farmer Search</h1>
  </ion-header-bar>
  <ion-content>
  <div class="list list-inset">
    <a style="border-radius:5px;" class="item item-thumbnail-left" href="/#/farmerSearch">
      <img src="img/ic-farmer.svg">
      <p style="color:#757575;">FIND A FARMER</p>
      <h2 style="color:#757575;"><b>By Farmer I.D.</b></h2>
    </a>
    <br>
    <a style="border-radius:5px;" ng-click="screen='search-by-receipt'" class="item item-thumbnail-left" href="#">
      <img src="img/ic-invoice.svg">
      <p style="color:#757575;">FIND A FARMER</p>
      <h2 style="color:#757575;"><b>By Receipt Number</b></h2>
    </a>
  </div>
  </ion-content>
</ion-view>
