<ion-header-bar ng-show="showTopBar" style="background-color:#019789;border-style:none;" class="bar-stable">
  <img ng-click="goBack()" style="position:absolute;top:10px;left:10px;" src="img/ic_arrow_back_white_24px.svg">
  <h1 class="title" style="color:white;font-family: 'Roboto', sans-serif;">Receipts</h1>
  <img style="position:absolute;right:10px;float:right;" src="img/ic-call-center-worker-with-headset-white.svg">
</ion-header-bar>
<ion-view>
  <ion-content>
    <div style="background-color:#019789" class="padding-bottom">
      <p class="padding-left padding-right" style="padding-top:5px;padding-bottom:8px;padding-left:30px;padding-right:30px;color:white;font-family: 'Roboto', sans-serif;">
        <span style="position:relative;top:5px;text-align: left;font-weight:500;">{{results[farmerIndex].Farmer_Personal_Info.First_Name}} {{results[farmerIndex].Farmer_Personal_Info.Last_Name}}</span>
        <a href="#/farmerProfile/personal" style="border-style:solid;border-color:white;border-radius:3px;border-width:2px;padding:5px;text-decoration:none;color:white;float: right;font-weight:bold;">VIEW FARMER PROFILE</a>
      </p>
      <p class="padding-left padding-right" style="padding-left:30px;padding-right:30px;color:white;font-family: 'Roboto', sans-serif;">
        <span style="text-align: left;font-weight:500;">Farmer Registration ID</span>
        <span style="float: right;">{{results[farmerIndex].Farmer_Personal_Info.Stakeholder_Num}}</span>
      </p>
    </div>
    <div class="list" style="padding-top:2%;">

      <p class="padding-left" ng-if="results[farmerIndex].Farmer_Personal_Info.Receipt_Book.length < 1">There are no receipt books to display.</p>

      <a ng-repeat="receiptbook in results[farmerIndex].Farmer_Personal_Info.Receipt_Book track by $index" class="item" ng-click="" href="">
        <div style="display:block;">
          <h2 style="color:#757575;display:inline;"><b>Receipt Book Sequence</b></h2>
          <br><p style="color:#EA7526;display:inline;">{{receiptbook.range1}} - {{receiptbook.range2}}</p><br>


          <p ng-click="" style="position:absolute;right:5%;top:10%;max-height:40px;float:right;display:inline;color:#019789;" class="button button-clear button-positive">
          <p style="font-weight:500;font-family: 'Roboto', sans-serif;">Date Purchased : {{parseDate(receiptbook.Date_Purchased)}}</p>
          </p>

        </div>
      </a>
    </div>

  </ion-content>

</ion-view>
