<ion-header-bar style="background-color:#019789" class="bar-stable">
  <img style="position:absolute;top:10px;left:10px;" src="img/ic_reorder_white_24px.svg">
  <h1 style="color:white;" class="title" style="font-family: 'Roboto', sans-serif;">Search By Farmer Name or I.D.</h1>
</ion-header-bar>
<ion-view >
  <ion-content>
  <a ng-click="screen='search-by-farmer'" class="item item-thumbnail-left" href="#">
    <img src="img/ic-farmer.svg">
    <p style="color:#757575;">FIND A FARMER</p>
    <h2 style="color:#757575;"><b>By Farmer I.D. or Name</b></h2>
  </a>
  <div class="list list-inset" style="">
    <label class="item item-input item-floating-label">
      <span class="input-label">Enter a Farmer's ID Number Or Name</span>
      <input style="border:0;border-width:0px;" ng-model="searchText" type="text" placeholder="Enter a Farmer's ID Number or Name">
    </label>
    <button style="border-radius:5px;" ng-click="search(searchText)" class="button button-gold button-full"><span style="font-weight:500";>FIND FARMER</span></button>
  </div>
  </ion-content>
</ion-view>
